<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rahaf Perween- Full-Stack Cloud Native Developer | Competitive Programmer | Problem Solver | ML Enthusiast</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="sidebar sidebarGo">
         <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/intro.html">My Intro</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/contact.html">Contact Me</a></li>
                <li><a href="https://leetcode.com/rahafperween/" target="_blank" Style="color:orange">LeetCode</a></li>
                <li><a href="https://www.youtube.com/channel/UC-IySvMM4sr2HeWhVlYM3zw" target="_blank" Style="color:red">YouTube</a></li>
                <li><a href="https://auth.geeksforgeeks.org/user/rahafperween/practice" target="_blank" Style="color:rgb(3, 218, 99)">GeeksForGeeks</a></li>
                <li><a href="https://github.com/RAHAF321" target="_blank" Style="color:rgb(102, 95, 94)">GitHub</a></li>
                <li><a href="https://www.codingninjas.com/codestudio/profile/rahaf321" target="_blank" Style="color:rgb(233, 132, 2)">Code Studio</a></li>
                <li><a href="https://www.linkedin.com/in/rahaf-perween-7ab7b71aa/" target="_blank" Style="color:rgb(55, 174, 243)">Linkedin</a></li>
                <li><a href="https://rahafperween2.netlify.app/" target="_blank" >Portfolio</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <div class="hamburger">
            <img class="ham" src="ham.jpeg" alt="" width="23">
            <img class="cross" src="cross.png" alt="" width="23">
            </div>
        <div class="blogContainer">
          <br><br>
            <h1>Blog by Rahaf- the legend </h1>
            <div class="blogItem">
              <h2>Learn JavaScript- in fun way!</h2>
              <p>JavaScript is used by almost every website on the internet, so I embarked on a quest to find the best active JavaScript blogs. Each of these sites demonstrates technical expertise, is relatively easy to comprehend, publishes content consistently, and has stood the test of time.
                <br>
                During this process, I used a consistent approach to analyze and compare common qualities (or deficiencies) in each blog. I looked at the depth of each blog’s technical content and the usefulness of that content. I read a few posts from start to finish to get a sense of the writing quality and comprehensibility. I looked at how consistently each blog publishes new content, and I did some digging to learn how long each site has been around.</p>
              <button class="btn-btn-sm">Read More</button>
            </div>
            <div class="blogItem">
                <h2>Learn JAVA Scriplet Programming- in one Go!</h2>
                <p>A scriptlet is a set of Java programming statements embedded in an HTML page. The statements are distinguished from their surrounding HTML by being placed between <% and %> markers, as the following shows:<br>
                  <% statement; [statement; …] %><br>
                  Whitespace is permitted after the <% and before the %>, so the <br>previous scriptlet could also be written as:
                  <%<br>
                  statement;<br>
                  [statement; …]<br>
                  %><br></p>
                <button class="btn-btn-sm">Read More</button>  
            </div>
              <div class="blogItem">
                <h2>Learn Data Structure and Algorithm- all in one DS-algo!</h2>
                <p>In actual to learn data structure and algorithm is not hard… the main reason why we feel it difficult because we are not in habit of learn… if you practice or learn on daily basis… you will be an addict of that…nd you would definitely love it… nd you will be able to solve real life problem… nd solving real life </p>
                <button class="btn-btn-sm">Read More</button>
            </div>
              <div class="blogItem">
                <h2>Learn mySQL - Easy to Advance Queries!</h2>
                <p>MySQL is an open-source relational database management system with support for Structured Query Language (SQL). It helps in the development of a wide range of web-based applications and online content. MySQL runs on all OS platforms like Linux/UNIX, macOS, Windows and is an important component of the LAMP stack.</p>
                <button class="btn-btn-sm">Read More</button>  
            </div>
              <div class="blogItem">
                <h2>Learn HTML -- CSS -- JavaScript - all through one project implementation!</h2>
                <p>As a web developer, the three main languages we use to build websites are HTML, CSS, and JavaScript. JavaScript is the programming language, we use HTML to structure the site, and we use CSS to design and layout the web page. These days, CSS has become more than just a design language, though</p>
                <button class="btn-btn-sm">Read More</button>  
            </div>
              <div class="blogItem">
                <h2>CG 3D VIEW OF A HOUSE- implementation of OpenGL API's!</h2>
                <p>A Computer Graphics project based on the concept of a “3D House”. This project implements the view of a 3D House both inside and outside of the house. There are 5 components that are placed inside the house they are a fan, sofa, tv, a table, and a teapot placed on the table. The outside of the house has trees and a system made for collecting rainwater(rainwater harvesting). The house is surrounded by a compound wall. The APIs that are used in implementing these components are glutSolidCube(), glutSolidTeapot(), glutSoildCone()… etc An animation has been implemented which shows the rotation of the fan inside the house. Lighting has been implemented by the inbuilt OPENGL lighting functions.</p>
                <button class="btn-btn-sm">Read More</button>  
            </div>
    </div>
</div>
</div>
<script src="script.js"></script>
<section class="footer">
  <h3 style="text-align: center;">Rahaf-Perween</h3><br><br>
  <p style="text-align: center;"> Web Developer, Competitive Programming enthusiast | Problem Solver | CSE '23</p>
  <div class="social" style="text-align: center;"><br><br>
  <a href="#"><i class="fab"></i></a>
  <a href="#"><i class="fab" ></i></a>
  <a href="#"><i class="fab"></i></a>
  <a href="#"><i class="fab"></i></a>
  <a href="#"><i class="fab"></i></a>
  <a href="#"><i class="fab"></i></a>
<ul class="list">
  <br><br>
  <li><a class="links" href="#">Home</a></li>
  <li><a class="links" href="https://github.com/RAHAF321" target="_blank">GitHub</li>
  <li><a class="links" href="https://www.linkedin.com/in/rahaf-perween-7ab7b71aa/" target="_blank">Linkedin</li>
  <li><a class="links" href="https://rahafperween2.netlify.app/" target="_blank">MyPortfolio</li>
  <li><a class="links" href="https://leetcode.com/rahafperween/" target="_blank">leetCode</li>
  <li><a class="links" href="https://auth.geeksforgeeks.org/user/rahafperween/practice" target="_blank">GFG</li>
  <li><a class="links" href="https://www.codingninjas.com/codestudio/profile/rahaf321" target="_blank">CodeStudio</li>
  <li><a class="links" href="https://www.youtube.com/channel/UC-IySvMM4sr2HeWhVlYM3zw" target="_blank">Youtube</li>
</ul>
</div>
<br>
<div class="fotter-bottom" style="text-align: center;"><br><br>
  <p>copyright &copy;2022 Rahaf-Perween. designed by <span>rahafperween</span></p>
</div>
</section>
</body>
</html>