<div class="sidebar sidebarGo">
    <nav>
       <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/intro.html">My Intro</a></li>
           <li><a href="/projects.html">Projects</a></li>
           <li><a href="/blog.html">Blog</a></li>
           <li><a href="/contact.html">Contact Me</a></li>
           <li><a href="https://leetcode.com/rahafperween/" target="_blank" Style="color:orange">LeetCode</a></li>
           <li><a href="https://www.youtube.com/channel/UC-IySvMM4sr2HeWhVlYM3zw" target="_blank" Style="color:red">YouTube</a></li>
           <li><a href="https://auth.geeksforgeeks.org/user/rahafperween/practice" target="_blank" Style="color:rgb(3, 218, 99)">GeeksForGeeks</a></li>
           <li><a href="https://github.com/RAHAF321" target="_blank" Style="color:rgb(102, 95, 94)">GitHub</a></li>
           <li><a href="https://www.codingninjas.com/codestudio/profile/rahaf321" target="_blank" Style="color:rgb(233, 132, 2)">Code Studio</a></li>
           <li><a href="https://www.linkedin.com/in/rahaf-perween-7ab7b71aa/" target="_blank" Style="color:rgb(55, 174, 243)">Linkedin</a></li>
           <li><a href="https://rahafperween2.netlify.app/" target="_blank" >Portfolio</a></li>
       </ul>
   </nav>
</div>